/* container level theming, keep this lean */
/* app layout */
.wrapper {
  display: flex;
  align-items: stretch;
}

.app-nav {
  .nav-link.active {
    background: #212121;
  }
}
/* login page */
// @media all and (min-width: 480px) {
//   .centered-panel {
//     padding: 60px 0;
//   }

//   .centered-panel {
//     margin: 0 auto;
//     max-width: 410px;
//   }
// }

/* not found page */
.not-found {
  padding-top: 100px;
  text-align: center;
}

/* workflow */
.workflow {
  height: 60vh;
}

.palette-component {
  height: 100%;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  z-index: 2;
  background-color: #fff;
}

.diagram-component {
  height: 100%;
  border: solid 1px black;
  background-color: white;
}
