@import "../assets/variables.scss";

.create {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  margin-left: -10%;
  font-size: 2em;
  border-width: 2px;
}

.fa-rotate-315 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.thumbnail {
  width: 1.5em;
  height: 1.5em;
}
.thumbnail-sm {
  width: 1em;
  height: 1em;
}

.case-menu {
  .menu-item {
    border-bottom: 1px solid $gray;

    &.active {
      border-right: 5px solid $white;
    }
  }
}

.create-case {
  button::after {
    display: none;
  }
}

.suggest {
  position: absolute;
  bottom: 0;
}
