/* header */
.app-logo {
  height: 1.2em;
  pointer-events: none;
  vertical-align: text-bottom;
}
.brand {
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
}
/* login page */
@media all and (min-width: 480px) {
  .centered-panel {
    padding: 60px 0;
  }
  .centered-panel {
    margin: 0 auto;
    max-width: 410px;
  }
}

/* signup page */

/* not found page */
.not-found {
  padding-top: 100px;
  text-align: center;
}

/* demo */
.input-message {
  font-size: 1.5em;
  border-radius: 5px;
  border-width: 1px;
}
.send-button {
  position: absolute;
  right: 2em;
  font-size: 1.5em;
}
.clickable {
  cursor: pointer;
}
.suggestions {
  position: absolute;
  bottom: 5em;
}
.suggestion.active {
  background: #999;
}

/* workflow */
.workflow {
  height: 60vh;
}
.palette-component {
  height: 100%;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  z-index: 2;
  background-color: #fff;
}
.diagram-component {
  height: 100%;
  border: solid 1px black;
  background-color: white;
}

/* ideas - node types */
.card {
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
}

/* games */
.mine-sweeper .board {
  width: 400px;
  margin: 20px auto;
}
.mine-sweeper .cell {
  border: 1px solid #999;
  box-shadow: 1px 1px 5px #999;
  background: #ddd;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0;
  position: relative;
  font-size: 1em;
  padding: 0;
}
.mine-sweeper .cell .inner {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  margin-top: calc(1em - 50%);
  margin-left: calc(1em - 50%);
  line-height: 0;
  font-size: 1em;
}
.mine-sweeper .cell:hover {
  background: radial-gradient(#eee, #fff);
}
.mine-sweeper .cell.revealed {
  background: #fff;
  box-shadow: 1px 1px 5px #666;
}
.mine-sweeper .cell.revealed.mine {
  background: rgba(255, 0, 0, 0.2)
}
.mine-sweeper .cell .svg-inline--fa {
  margin-left: -5px;
  margin-top: -5px;
  color: red;
}
.mine-sweeper .clear {
  clear: both;
  line-height: 0;
}