.app-logo {
  height: 1.2em;
  pointer-events: none;
  vertical-align: text-bottom;
}

.brand {
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
}

.text-success {
  color: #197441 !important;
}

/* login page */
@media all and (min-width: 480px) {
  .centered-panel {
    padding: 60px 0;
  }

  .centered-panel {
    margin: 0 auto;
    max-width: 410px;
  }
}

/* not found page */
.not-found {
  padding-top: 100px;
  text-align: center;
}

/* workflow */
.workflow {
  height: 60vh;
}

.palette-component {
  height: 100%;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  z-index: 2;
  background-color: #fff;
}

.diagram-component {
  height: 100%;
  border: solid 1px black;
  background-color: white;
}

/* app layout */
.app {
  display: flex;
  align-items: stretch;
}
nav .bottom {
  bottom: 0;
}