/* header */
.app-logo {
  height: 1.2em;
  pointer-events: none;
  vertical-align: text-bottom;
}
.brand {
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
}
/* login page */
@media all and (min-width: 480px) {
  .centered-panel {
    padding: 60px 0;
  }
  .centered-panel {
    margin: 0 auto;
    max-width: 410px;
  }
}

/* signup page */

/* not found page */
.not-found {
  padding-top: 100px;
  text-align: center;
}

/* home */
