/* header */
.app-logo {
  height: 1.2em;
  pointer-events: none;
  vertical-align: text-bottom;
}
.brand {
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
}
/* login page */
@media all and (min-width: 480px) {
  .centered-panel {
    padding: 60px 0;
  }
  .centered-panel {
    margin: 0 auto;
    max-width: 410px;
  }
}

/* signup page */

/* not found page */
.not-found {
  padding-top: 100px;
  text-align: center;
}

/* demo */
.input-message {
  font-size: 1.5em;
  border-radius: 5px;
  border-width: 1px;
}
.send-button {
  position: absolute;
  right: 2em;
  font-size: 1.5em;
}
.clickable {
  cursor: pointer;
}
.suggestions {
  position: absolute;
  bottom: 5em;
}
.suggestion.active {
  background: #999;
}