@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// color override
$primary: #308dc9;
$secondary: #2d2c2c;
$success: #17f6cc;
$danger: #ff4136;
$dark: #272727;
$light: #f4f4f4;

// add colors to palette
$theme-colors: (
  lighter: #f8f8f8,
  light-gray: #cccccc,
  gray: #999999,
  darker: #212121
);

// import bootstrap after variable override
@import "bootstrap";

.app-logo {
  height: 1.2em;
  pointer-events: none;
  vertical-align: text-bottom;
}

.brand {
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type="file"] {
  width: 100%;
}
