// variable override
$primary: #0074d9;
$success: #17f6cc;
$danger: #ff4136;

// import bootstrap after variable override
@import "bootstrap";

.app-logo {
  height: 1.2em;
  pointer-events: none;
  vertical-align: text-bottom;
}

.brand {
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type="file"] {
  width: 100%;
}
