# copy this file to ./.env and fill out <> fields
# password is stored in 1password
GOOGLE_USERNAME_1=bellman1
GOOGLE_PASSWORD_1=<Password>
GOOGLE_USERNAME_2=bellman2
GOOGLE_PASSWORD_2=<Password>
IAM_USERNAME_1=nightwatch
IAM_PASSWORD_1=<Password>