# copy this file to ./.env and fill out <> fields
# credential are stored in 1password
GOOGLE_USERNAME_1=<user>
GOOGLE_PASSWORD_1=<Password>
GOOGLE_USERNAME_2=<user>
GOOGLE_PASSWORD_2=<Password>
IAM_USERNAME_1=<user>
IAM_PASSWORD_1=<Password>