service: poc-${self:custom.user}

plugins:
  - serverless-mocha-plugin
  - serverless-dynamodb-local
  - serverless-offline
  - serverless-plugin-split-stacks

custom:
  # This can be changed to the desired origin
  # When using lambda proxy integration, you have to manually add the CORS headers to responses...
  # https://github.com/serverless/serverless/issues/4681
  corsOrigin: '*'
  user: ${env:USER}
  dynamodb:
    stages:
      - dev
      - test
    start:
      port: 8000
      # dbPath: .dynamodb/data
      migrate: true
      seed: true
    seed:
      test:
        sources:
          - table: ${self:provider.environment.DYNAMODB_CASE_DEFINITIONS_TABLE}
            sources: [./data/case-definitions-with-id.json]
          - table: ${self:provider.environment.DYNAMODB_TASK_DEFINITIONS_TABLE}
            sources: [./data/task-definitions-with-id.json]
  serverless-offline:
    httpsProtocol: "certs"
    port: 3000
  splitStacks:
    perFunction: false
    perType: true
    perGroupFunction: false

# This article helped me find out how Serverless handles Cloud Formation naming
# https://github.com/serverless/serverless/blob/master/docs/providers/aws/guide/resources.md
provider:
  name: aws
  memorySize: 256
  runtime: nodejs12.x
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  # API GW Websocket specific configuration
  websocketsApiName: ${self:service}-apigw-websocket-${self:provider.stage}
  # Custom routes are selected by the value of the action property in the body
  websocketsApiRouteSelectionExpression: $request.body.action
  # DynamoDB table name, as composed with parameters from this definition file
  environment:
    ENVIRONMENT: ${self:provider.stage}
    CORS_ORIGIN: ${self:custom.corsOrigin}
    DYNAMODB_SOCKETS_TABLE: ${self:service}-sockets-${self:provider.stage}
    DYNAMODB_SOCKETS_USER_GSI: ${self:service}-sockets-user-gsi-${self:provider.stage}
    DYNAMODB_CASE_DEFINITIONS_TABLE: ${self:service}-case-definitions-${self:provider.stage}
    DYNAMODB_TASK_DEFINITIONS_TABLE: ${self:service}-task-definitions-${self:provider.stage}
    DYNAMODB_CASES_TABLE: ${self:service}-cases-${self:provider.stage}
    DYNAMODB_CASES_ON_STATE_GSI: ${self:service}-cases-on-state-gsi-${self:provider.stage}
    DYNAMODB_TASKS_TABLE: ${self:service}-tasks-${self:provider.stage}
    DYNAMODB_TASKS_ON_CASE_GSI: ${self:service}-tasks-on-case-gsi-${self:provider.stage}
    DYNAMODB_TASKS_ON_STATE_GSI: ${self:service}-tasks-on-state-gsi-${self:provider.stage}
    DYNAMODB_CASE_MESSAGES_TABLE: ${self:service}-case-messages-${self:provider.stage}
    DYNAMODB_CASE_MESSAGES_CASEID_GSI: ${self:service}-case-messages-caseid-gsi-${self:provider.stage}
    # KEYS_URL: !Join ['', ['https://cognito-idp.', '${self:provider.region}', '.amazonaws.com/', !Ref CognitoUserPool, '/.well-known/jwks.json']]
    WEBSOCKET_API_ENDPOINT: !Join ['', ['https://', !Ref WebsocketsApi, '.execute-api.', '${self:provider.region}', '.amazonaws.com/', '${self:provider.stage}/']]
  # Define the service IAM permissions
  iamRoleStatements:
    # Websocket permissions
    - Effect: Allow
      Action:
        - "execute-api:ManageConnections"
      Resource:
        - "arn:aws:execute-api:${self:provider.region}:*:**/@connections/*"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        # TODO: be more specific to this service
        - "arn:aws:dynamodb:${self:provider.region}:*:table/*"

functions:
  handleSocketDefault:
    name: LAMBDA_${self:service}_socket_default_${self:provider.stage}
    handler: handler.handleSocketDefault
    events:
      - websocket:
          route: $default
  handleSocketConnect:
    name: LAMBDA_${self:service}_socket_connect_${self:provider.stage}
    handler: handler.handleSocketConnect
    events:
      - websocket:
          route: $connect
  handleSocketDisconnect:
    name: LAMBDA_${self:service}_socket_disconnect_${self:provider.stage}
    handler: handler.handleSocketDisconnect
    events:
      - websocket:
          route: $disconnect
  webhook:
    name: LAMBDA_${self:service}_http_webhook_${self:provider.stage}
    handler: handler.webhook
    events:
      - http:
          path: webhook
          method: post
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  createCaseDefinition:
    name: LAMBDA_${self:service}_http_create_case_definition_${self:provider.stage}
    handler: handler.createCaseDefinition
    events:
      - http:
          path: case-definitions
          method: post
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  getCaseDefinition:
    name: LAMBDA_${self:service}_http_get_case_definition_${self:provider.stage}
    handler: handler.getCaseDefinition
    events:
      - http:
          path: case-definitions/{caseDefinitionId}
          method: get
          request:
            parameters:
              paths:
                caseDefinitionId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  listCaseDefinitions:
    name: LAMBDA_${self:service}_http_list_case_definitions_${self:provider.stage}
    handler: handler.listCaseDefinitions
    events:
      - http:
          path: case-definitions
          method: get
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  deleteCaseDefinition:
    name: LAMBDA_${self:service}_http_delete_case_definition_${self:provider.stage}
    handler: handler.deleteCaseDefinition
    events:
      - http:
          path: case-definitions/{caseDefinitionId}
          method: delete
          request:
            parameters:
              paths:
                caseDefinitionId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  createTaskDefinition:
    name: LAMBDA_${self:service}_http_create_task_definition_${self:provider.stage}
    handler: handler.createTaskDefinition
    events:
      - http:
          path: task-definitions
          method: post
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  getTaskDefinition:
    name: LAMBDA_${self:service}_http_get_task_definition_${self:provider.stage}
    handler: handler.getTaskDefinition
    events:
      - http:
          path: task-definitions/{taskDefinitionId}
          method: get
          request:
            parameters:
              paths:
                taskDefinitionId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  listTaskDefinitions:
    name: LAMBDA_${self:service}_http_list_task_definitions_${self:provider.stage}
    handler: handler.listTaskDefinitions
    events:
      - http:
          path: task-definitions
          method: get
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  deleteTaskDefinition:
    name: LAMBDA_${self:service}_http_delete_task_definition_${self:provider.stage}
    handler: handler.deleteTaskDefinition
    events:
      - http:
          path: task-definitions/{taskDefinitionId}
          method: delete
          request:
            parameters:
              paths:
                taskDefinitionId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  createCase:
    name: LAMBDA_${self:service}_http_create_case_${self:provider.stage}
    handler: handler.createCase
    events:
      - http:
          path: cases
          method: post
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  getCase:
    name: LAMBDA_${self:service}_http_get_case_${self:provider.stage}
    handler: handler.getCase
    events:
      - http:
          path: cases/{caseId}
          method: get
          request:
            parameters:
              paths:
                caseId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  listCases:
    name: LAMBDA_${self:service}_http_list_cases_${self:provider.stage}
    handler: handler.listCases
    events:
      - http:
          path: cases
          method: get
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  addCaseParticipant:
    name: LAMBDA_${self:service}_add_case_participant_${self:provider.stage}
    handler: handler.addCaseParticipant
    events:
      - http:
          path: cases/{caseId}/add-participant/{username}
          method: patch
          request:
            parameters:
              paths:
                caseId: true
                username: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  completeCase:
    name: LAMBDA_${self:service}_http_complete_case_${self:provider.stage}
    handler: handler.completeCase
    events:
      - http:
          path: cases/{caseId}
          method: patch
          request:
            parameters:
              paths:
                caseId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  deleteCase:
    name: LAMBDA_${self:service}_http_delete_case_${self:provider.stage}
    handler: handler.deleteCase
    events:
      - http:
          path: cases/{caseId}
          method: delete
          request:
            parameters:
              paths:
                caseId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  createTask:
    name: LAMBDA_${self:service}_http_create_task_${self:provider.stage}
    handler: handler.createTask
    events:
      - http:
          path: cases/{caseId}/tasks
          method: post
          request:
            parameters:
              paths:
                caseId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  getTask:
    name: LAMBDA_${self:service}_http_get_task_${self:provider.stage}
    handler: handler.getTask
    events:
      - http:
          path: tasks/{taskId}
          method: get
          request:
            parameters:
              paths:
                taskId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
      - http:
          path: cases/{caseId}/tasks/{taskId}
          method: get
          request:
            parameters:
              paths:
                caseId: true
                taskId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  listTasks:
    name: LAMBDA_${self:service}_http_list_tasks_${self:provider.stage}
    handler: handler.listTasks
    events:
      - http:
          path: tasks
          method: get
          integration: lambda
          response: ${file(config/default-response-config.yml)}
      - http:
          path: cases/{caseId}/tasks
          method: get
          request:
            parameters:
              paths:
                caseId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  completeTask:
    name: LAMBDA_${self:service}_http_complete_task_${self:provider.stage}
    handler: handler.completeTask
    events:
      - http:
          path: tasks/{taskId}/complete
          method: patch
          request:
            parameters:
              paths:
                taskId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
      - http:
          path: cases/{caseId}/tasks/{taskId}/complete
          method: patch
          request:
            parameters:
              paths:
                caseId: true
                taskId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  deleteTask:
    name: LAMBDA_${self:service}_http_delete_task_${self:provider.stage}
    handler: handler.deleteTask
    events:
      - http:
          path: tasks/{taskId}
          method: delete
          request:
            parameters:
              paths:
                taskId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  # case messages
  createCaseMessage:
    name: LAMBDA_${self:service}_http_create_case_message_${self:provider.stage}
    handler: handler.createCaseMessage
    events:
      - http:
          path: case-messages
          method: post
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  getCaseMessage:
    name: LAMBDA_${self:service}_http_get_case_message_${self:provider.stage}
    handler: handler.getCaseMessage
    events:
      - http:
          path: case-messages/{caseMessageId}
          method: get
          request:
            parameters:
              paths:
                caseMessageId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  listCaseMessages:
    name: LAMBDA_${self:service}_http_list_case_messages_${self:provider.stage}
    handler: handler.listCaseMessages
    events:
      - http:
          path: case-messages
          method: get
          request:
            parameters:
              querystrings:
                caseId: false
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  deleteCaseMessage:
    name: LAMBDA_${self:service}_http_delete_case_message_${self:provider.stage}
    handler: handler.deleteCaseMessage
    events:
      - http:
          path: case-messages/{caseMessageId}
          method: delete
          request:
            parameters:
              paths:
                caseMessageId: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  listUserPoolUsers:
    name: LAMBDA_${self:service}_list_users_${self:provider.stage}
    handler: handler.listUserPoolUsers
    events:
      - http:
          path: users
          method: get
          integration: lambda
          response: ${file(config/default-response-config.yml)}
  getUserPoolUser:
    name: LAMBDA_${self:service}_get_user_${self:provider.stage}
    handler: handler.getUserPoolUser
    events:
      - http:
          path: users/{username}
          method: get
          request:
            parameters:
              paths:
                username: true
          integration: lambda
          response: ${file(config/default-response-config.yml)}

resources:
  - ${file(resources/dynamodb.yml)}
