@import "node_modules/rsuite/lib/styles/themes/dark/index.less";
@import "src/assets/rsuite/rsuite-bell.less";

@base-color: #858688;
@info-color: #2196f3;
@info-light-color: rgba(255, 255, 255, 0.5);
@success-color: #4caf50;
@success-light-color: #edfae1;
@warning-color: #ffb300;
@warning-light-color: #fff9e6;
@error-color: #f44336;
@error-light-color: #fde9ef;
