// Shared styles in dark/light mode to override rsuite style.

@font-family-base: "Avenir", "Varela", "Arial";
@font-size-base: 16px;
@input-bg: #eeeeee;
@secondary-bg-color: #eeeeee;
@info-color: #979797;
@success-color: #2f6c30;
@warning-color: #f2c85b;
@error-color: #ae3a34;
