@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* App Themes */
.theme-bell {
  --color-text-default: theme("colors.black");
  --color-bg-default: theme("colors.white");

  --color-text-disabled: theme("colors.light");
  --color-bg-disabled: theme("colors.dark");
}

.theme-dark {
  --color-text-default: theme("colors.white");
  --color-bg-default: theme("colors.black");

  --color-text-disabled: theme("colors.purple");
  --color-bg-disabled: theme("colors.light");
}

* {
  --color-text-primary: theme("colors.white");
  --color-bg-primary: theme("colors.purple");

  --color-text-secondary: theme("colors.white");
  --color-bg-secondary: theme("colors.violet");

  --color-text-light: theme("colors.black");
  --color-bg-light: theme("colors.light");

  --color-text-dark: theme("colors.light");
  --color-bg-dark: theme("colors.dark");

  --color-text-success: theme("colors.white");
  --color-bg-success: theme("colors.green");

  --color-text-warning: theme("colors.light");
  --color-bg-warning: theme("colors.orange");

  --color-text-error: theme("colors.light");
  --color-bg-error: theme("colors.red");

  --color-bg-orange: theme("colors.orange");
}

.text-primary {
  color: theme("colors.purple");
}
.bg-primary {
  background-color: theme("colors.purple");
}
.text-secondary {
  color: theme("colors.violet");
}
.text-error {
  color: theme("colors.red");
}
.bg-orange {
  background: theme("colors.orange");
}
.bg-default {
  background: var(--color-bg-default);
}

* {
  transition: background-color 0.3s ease;
  transition: height width 0.3s ease;
}

body {
  font-family: theme("fontFamily.body");
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.display");
  font-style: normal;
  font-weight: 800;
  align-items: center;
  line-height: 100%;
}

h1 {
  font-size: 61.04px;
  font-size: 3.815rem;
}

h2 {
  font-size: 48.33px;
  font-size: 3.02rem;
}

h3 {
  font-size: 39.06px;
  font-size: 2.48rem;
}

h4 {
  font-size: 31.25px;
  font-size: 1.95rem;
}

h5 {
  font-size: 25px;
  font-size: 1.56rem;
}

h6 {
  font-size: 20px;
  font-size: 1.25rem;
}

label {
  font-weight: 500;
}

.quote {
  font-family: theme("fontFamily.serif");
  font-style: normal;
  font-weight: bold;
  font-size: 39.06px;
  font-size: 2.48rem;
  line-height: 133%;
}

input[type="text"],
input[type="number"],
textarea {
  @apply rounded-full;
  @apply px-4;
  @apply py-2;
  @apply w-full;
  @apply my-2;
  border: 1px solid var(--color-text-default);
  background: var(--color-bg-default);
}

/* Storybook themes */
.theme-light {
  --color-text-primary: #333;
  --color-text-secondary: #555;
  --color-text-default: #444;
  --color-text-disabled: #222;

  --color-bg-primary: #aaa;
  --color-bg-secondary: #7e9292;
  --color-bg-default: #bbb;
  --color-bg-disabled: #ccc;
}

.theme-startup {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #6f72b9;
  --color-bg-default: #fff;
  --color-bg-disabled: #5255ac;

  --color-text-primary: #fff;
  --color-text-secondary: #44467b;
  --color-text-default: #fff;
  --color-text-default-soft: #6a6a6a;
  --color-text-disabled: #fff;
}

.theme-boring {
  --color-bg-primary: #0252cc;
  --color-bg-secondary: #ffc402;
  --color-bg-default: #fff;
  --color-bg-disabled: #fff;

  --color-text-primary: #fff;
  --color-text-secondary: #755f17;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-disabled: #444;
}

.theme-elegant {
  --color-bg-primary: #c0b283;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-disabled: #373737;

  --color-text-primary: #fff;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-disabled: #fff;
}
