@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* App Themes */

* {
  --color-text-primary: theme("colors.white");
  --color-bg-primary: theme("colors.purple");

  --color-text-secondary: theme("colors.white");
  --color-bg-secondary: theme("colors.violet");

  --color-text-light: theme("colors.black");
  --color-bg-light: theme("colors.light");
  --color-text-dark: theme("colors.light");
  --color-bg-dark: theme("colors.dark");
  --color-bg-orange: theme("colors.orange");

  --color-text-success: theme("colors.white");
  --color-bg-success: theme("colors.green");

  --color-text-warning: theme("colors.light");
  --color-bg-warning: theme("colors.orange");

  --color-text-error: theme("colors.light");
  --color-bg-error: theme("colors.red");
}
.theme-bell {
  --color-text-default: theme("colors.black");
  --color-bg-default: theme("colors.white");

  --color-text-disabled: theme("colors.light");
  --color-bg-disabled: theme("colors.dark");
}

.theme-dark {
  --color-text-default: theme("colors.white");
  --color-bg-default: theme("colors.black");

  --color-text-disabled: theme("colors.purple");
  --color-bg-disabled: theme("colors.light");
}

/* Storybook themes */
.theme-light {
  --color-text-primary: #333;
  --color-text-secondary: #555;
  --color-text-default: #444;
  --color-text-disabled: #222;

  --color-bg-primary: #aaa;
  --color-bg-secondary: #7e9292;
  --color-bg-default: #bbb;
  --color-bg-disabled: #ccc;
}

.theme-startup {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #6f72b9;
  --color-bg-default: #fff;
  --color-bg-disabled: #5255ac;

  --color-text-primary: #fff;
  --color-text-secondary: #44467b;
  --color-text-default: #fff;
  --color-text-default-soft: #6a6a6a;
  --color-text-disabled: #fff;
}

.theme-boring {
  --color-bg-primary: #0252cc;
  --color-bg-secondary: #ffc402;
  --color-bg-default: #fff;
  --color-bg-disabled: #fff;

  --color-text-primary: #fff;
  --color-text-secondary: #755f17;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-disabled: #444;
}

.theme-elegant {
  --color-bg-primary: #c0b283;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-disabled: #373737;

  --color-text-primary: #fff;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-disabled: #fff;
}
