@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --color-bg-primary: #2d3033;
  --color-bg-secondary: #374655;
  --color-bg-default: #1a1d24;
  --color-bg-inverse: #2f333a;

  --color-text-primary: #c4d8e6;
  --color-text-primary-soft: #96a2ac;
  --color-text-secondary: #eed1d1;
  --color-text-secondary-soft: #aa9595;
  --color-text-default: #99a5af;
  --color-text-default-soft: #d9dbe0;
  --color-text-inverse: #dad9ac;
  --color-text-inverse-soft: #b8b5a7;

  --font-display: Georgia, Times, "Times New Roman", serif;
  --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;
}

.theme-light {
  --color-text-primary: #333;
  --color-text-secondary: #555;
  --color-text-default: #444;
  --color-text-inverse: #222;

  --color-bg-primary: #aaa;
  --color-bg-secondary: #7e9292;
  --color-bg-default: #bbb;
  --color-bg-default-soft: #6a6a6a;
  --color-bg-inverse: #ccc;
  --color-bg-inverse-soft: #bbb;

  --font-display: Georgia, Times, "Times New Roman", serif;
  --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;
}

.theme-startup {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #6f72b9;
  --color-bg-default: #fff;
  --color-bg-inverse: #5255ac;

  --color-text-primary: #fff;
  --color-text-secondary: #44467b;
  --color-text-default: #fff;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: rgba(255, 255, 255, 0.7);

  --font-display: Futura, Trebuchet MS, Arial, sans-serif;
  --font-body: Futura, Trebuchet MS, Arial, sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 600;
  --font-weight-btn: 600;

  --rounded-btn: 9999px;
}

.theme-boring {
  --color-bg-primary: #0252cc;
  --color-bg-secondary: #ffc402;
  --color-bg-default: #fff;
  --color-bg-inverse: #fff;

  --color-text-primary: #fff;
  --color-text-secondary: #755f17;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-inverse: #444;
  --color-text-inverse-soft: #999;

  --font-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0.25rem;
}

.theme-elegant {
  --color-bg-primary: #c0b283;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-inverse: #373737;

  --color-text-primary: #fff;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: #bbb;

  --font-display: Georgia, Times, "Times New Roman", serif;
  --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;
}
