@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* App Themes */
.theme-bell {
  --color-text-default: theme("colors.black");
  --color-bg-default: theme("colors.white");

  --color-text-disabled: theme("colors.light");
  --color-bg-disabled: theme("colors.dark");
}

.theme-dark {
  --color-text-default: theme("colors.white");
  --color-bg-default: theme("colors.black");

  --color-text-disabled: theme("colors.purple.default");
  --color-bg-disabled: theme("colors.light");
}

* {
  --color-text-primary: theme("colors.white");
  --color-bg-primary: theme("colors.purple.default");

  --color-text-secondary: theme("colors.white");
  --color-bg-secondary: theme("colors.purple.light");

  --color-text-light: theme("colors.black");
  --color-bg-light: theme("colors.light");

  --color-text-dark: theme("colors.light");
  --color-bg-dark: theme("colors.dark");

  --color-text-success: theme("colors.white");
  --color-bg-success: theme("colors.green.default");

  --color-text-warning: theme("colors.light");
  --color-bg-warning: theme("colors.orange.default");

  --color-text-error: theme("colors.light");
  --color-bg-error: theme("colors.red.default");

  --color-bg-bell: theme("colors.yellow.default");
  --color-bg-bell-0: var(--color-bg-bell);
  --color-bg-bell-1: #a4cf30;
  --color-bg-bell-2: #62d26f;
  --color-bg-bell-3: #37c5ab;
  --color-bg-bell-4: #20aaea;
  --color-bg-bell-5: #4186e0;
  --color-bg-bell-6: #7a6ff0;
  --color-bg-bell-7: #aa62e3;
  --color-bg-bell-8: #ea4e9d;
  --color-bg-bell-9: #fc91ad;
}

.text-default {
  color: var(--color-text-default);
}
.bg-default {
  background-color: var(--color-bg-default);
}
.text-primary {
  color: var(--color-text-primary);
}
.bg-primary {
  background-color: var(--color-bg-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.bg-secondary {
  background-color: var(--color-bg-primary);
}
.text-success {
  background-color: var(--color-text-success);
}
.bg-success {
  background-color: var(--color-bg-success);
}
.text-warning {
  color: var(--color-text-warning);
}
.bg-warning {
  background-color: var(--color-bg-warning);
}
.text-error {
  color: var(--color-text-error);
}
.bg-error {
  background-color: var(--color-bg-error);
}
.bg-bell {
  background-color: var(--color-bell);
}
.bg-bell-1 {
  background-color: var(--color-bell-1);
}

* {
  transition: background-color 0.3s ease;
  transition: height width 0.3s ease;
}

body {
  font-family: theme("fontFamily.body");
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.body");
  font-style: normal;
  font-weight: 800;
  align-items: center;
  line-height: 1.5em;
}

h1 {
  font-size: 2.48rem;
}

h2 {
  font-size: 1.95rem;
}

h3 {
  font-size: 1.56rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

label {
  font-weight: 500;
}

.quote {
  font-family: theme("fontFamily.serif");
  font-style: normal;
  font-weight: bold;
  font-size: 39.06px;
  font-size: 2.48rem;
  line-height: 133%;
}

input[type="text"],
input[type="number"],
textarea {
  border-radius: 1.6875em;
  line-height: 1.6875em;
  @apply px-4;
  @apply py-2;
  @apply w-full;
  @apply my-2;
  border: 1px solid var(--color-text-default);
  background: var(--color-bg-default);
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
}

/* Storybook themes */
.theme-light {
  --color-text-primary: #333;
  --color-text-secondary: #555;
  --color-text-default: #444;
  --color-text-disabled: #222;

  --color-bg-primary: #aaa;
  --color-bg-secondary: #7e9292;
  --color-bg-default: #bbb;
  --color-bg-disabled: #ccc;
}

.theme-startup {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #6f72b9;
  --color-bg-default: #fff;
  --color-bg-disabled: #5255ac;

  --color-text-primary: #fff;
  --color-text-secondary: #44467b;
  --color-text-default: #fff;
  --color-text-default-soft: #6a6a6a;
  --color-text-disabled: #fff;
}

.theme-boring {
  --color-bg-primary: #0252cc;
  --color-bg-secondary: #ffc402;
  --color-bg-default: #fff;
  --color-bg-disabled: #fff;

  --color-text-primary: #fff;
  --color-text-secondary: #755f17;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-disabled: #444;
}

.theme-elegant {
  --color-bg-primary: #c0b283;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-disabled: #373737;

  --color-text-primary: #fff;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-disabled: #fff;
}
