// basic tags/classes. Like global variables that all themes use.
// TODO: refactor to merge with tailwind.css variables
.font-default {
  font-family: helvetica, arial, sans-serif;
}

.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  @extend .font-mono;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  @extend .font-mono;
}
h3 {
  font-size: 1.17em;
  font-weight: 700;
}
h4 {
  font-size: 1.2em;
  font-weight: 500;
}
h5 {
  font-size: 0.83em;
  font-weight: 500;
}
h6 {
  font-weight: 500;
  font-size: 0.67em;
}

@import "/node_modules/rsuite/dist/styles/rsuite-dark.css";
// @import "./bootstrap-wrapper.scss";
@import "../tailwind/tailwind.generated.css";
