@import "./animate.min.css";
@import "/node_modules/rsuite/dist/styles/rsuite-default.css";
// @import "./variables.scss";
@import "../tailwind/tailwind.generated.css";

.font-default {
  font-family: helvetica, arial, sans-serif;
}

.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}
