.loader-button .spinning {
  margin-right: 7px;
  top: 2px;
  font-size: 1em;
  animation: spin 2s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}