service: poc-backend-sls-1-${self:custom.user}

# plugins:
#   - serverless-dynamodb-local
#   - serverless-offline
# frameworkVersion: ">=1.38.0 <2.0.0"

custom:
  # This can be changed to the desired origin
  # When using lambda proxy integration, you have to manually add the CORS headers to responses...
  # https://github.com/serverless/serverless/issues/4681
  corsOrigin: '*'
  user: ${env:USER}
  # dynamodb:
  #   start:
  #     port: 8700
  #     inMemory: true
  #     migrate: true
  #   migration:
  #     dir: offline/migrations
  # serverless-offline:
  #   port: 3700

# This article helped me find out how Serverless handles Cloud Formation naming
# https://github.com/serverless/serverless/blob/master/docs/providers/aws/guide/resources.md
provider:
  name: aws
  memorySize: 256
  runtime: nodejs12.x
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  # API GW Websocket specific configuration
  websocketsApiName: ${self:service}-apigw-websocket-${self:provider.stage}
  # Custom routes are selected by the value of the action property in the body
  websocketsApiRouteSelectionExpression: $request.body.action
  # DynamoDB table name, as composed with parameters from this definition file
  environment:
    ENVIRONMENT: ${self:provider.stage}
    # COGNITO_USER_POOL:
    #   Ref: CognitoUserPool
    # COGNITO_USER_POOL_CLIENT:
    #   Ref: CognitoUserPoolClient
    CORS_ORIGIN: ${self:custom.corsOrigin}
    DYNAMODB_SOCKETS_TABLE: ${self:service}-sockets-${self:provider.stage}
    DYNAMODB_SOCKETS_USER_GSI: ${self:service}-sockets-user-gsi-${self:provider.stage}
    DYNAMODB_CASE_DEFINITIONS_TABLE: ${self:service}-case-definitions-${self:provider.stage}
    DYNAMODB_TASK_DEFINITIONS_TABLE: ${self:service}-task-definitions-${self:provider.stage}
    DYNAMODB_CASES_TABLE: ${self:service}-cases-${self:provider.stage}
    DYNAMODB_TASKS_TABLE: ${self:service}-tasks-${self:provider.stage}
    DYNAMODB_TASKS_ON_CASE_GSI: ${self:service}-tasks-on-case-gsi-${self:provider.stage}
    DYNAMODB_CASE_MESSAGES_TABLE: ${self:service}-task-messages-${self:provider.stage}
    DYNAMODB_CASE_MESSAGES_ON_CASE_GSI: ${self:service}-case-messages-on-case-gsi-${self:provider.stage}
    # KEYS_URL: !Join ['', ['https://cognito-idp.', '${self:provider.region}', '.amazonaws.com/', !Ref CognitoUserPool, '/.well-known/jwks.json']]
    WEBSOCKET_API_ENDPOINT: !Join ['', ['https://', !Ref WebsocketsApi, '.execute-api.', '${self:provider.region}', '.amazonaws.com/', '${self:provider.stage}/']]
  # Define the service IAM permissions
  iamRoleStatements:
    # Websocket permissions
    - Effect: Allow
      Action:
        - "execute-api:ManageConnections"
      Resource:
        - "arn:aws:execute-api:${self:provider.region}:*:**/@connections/*"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        # TODO: be more specific to this service
        - "arn:aws:dynamodb:${self:provider.region}:*:table/*"

functions:
  # authUser:
  #   name: LAMBDA_${self:service}_auth_${self:provider.stage}
  #   handler: handler.authUser
  #   events:
  #     - http:
  #         path: auth
  #         method: post
  #         cors:
  #           origin: ${self:custom.corsOrigin}
  # authWebsocket:
  #   name: LAMBDA_${self:service}_auth_websocket_${self:provider.stage}
  #   handler: handler.authWebsocket
  #   cors:
  #     origin: ${self:custom.corsOrigin}
  # refreshToken:
  #   name: LAMBDA_${self:service}_auth_refresh_${self:provider.stage}
  #   handler: handler.refreshToken
  #   events:
  #     - http:
  #         path: auth/refresh
  #         method: post
  #         cors:
  #           origin: ${self:custom.corsOrigin}
  handleSocketDefault:
    name: LAMBDA_${self:service}_socket_default_${self:provider.stage}
    handler: handler.handleSocketDefault
    events:
      - websocket:
          route: $default
  handleSocketConnect:
    name: LAMBDA_${self:service}_socket_connect_${self:provider.stage}
    handler: handler.handleSocketConnect
    events:
      - websocket:
          route: $connect
          # references the authWebsocket function below, serverless doesn't provide any other
          # way to perform this as of 01/07/2019
          # authorizer:
          #   name: authWebsocket
          #   identitySource:
          #     - 'route.request.querystring.Authorizer'
  handleSocketDisconnect:
    name: LAMBDA_${self:service}_socket_disconnect_${self:provider.stage}
    handler: handler.handleSocketDisconnect
    events:
      - websocket:
          route: $disconnect
  handleSocketInteraction:
    name: LAMBDA_${self:service}_socket_interaction_${self:provider.stage}
    handler: handler.handleSocketDefault
    events:
      - websocket:
          route: interaction

  webhook:
    name: LAMBDA_${self:service}_http_webhook_${self:provider.stage}
    handler: handler.webhook
    events:
      - http:
          path: webhook
          method: post
          cors:
            origin: ${self:custom.corsOrigin}


resources:
  Resources:
    # CognitoUserPool:
    #   Type: "AWS::Cognito::UserPool"
    #   Properties:
    #     AliasAttributes:
    #       - preferred_username
    #     MfaConfiguration: OFF
    #     UserPoolName: ${self:service}-cognito-${self:provider.stage}
    #     Policies:
    #       PasswordPolicy:
    #         MinimumLength: 6
    #         RequireLowercase: False
    #         RequireNumbers: True
    #         RequireSymbols: False
    #         RequireUppercase: True
    # CognitoUserPoolClient:
    #   Type: "AWS::Cognito::UserPoolClient"
    #   Properties:
    #     ClientName: ${self:service}-cognito-client-${self:provider.stage}
    #     GenerateSecret: False
    #     UserPoolId:
    #       Ref: CognitoUserPool
    SocketsDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      # For a production deployment, you'd want to retain your DB
      # in case of re-deployment or stack removal to avoid data loss.
      # DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
          - AttributeName: userId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST    
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        TableName: ${self:provider.environment.DYNAMODB_SOCKETS_TABLE}
        GlobalSecondaryIndexes:
          - IndexName: ${self:provider.environment.DYNAMODB_SOCKETS_USER_GSI}
            KeySchema:
              - AttributeName: userId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
    CaseDefinitionsDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      # For a production deployment, you'd want to retain your DB
      # in case of re-deployment or stack removal to avoid data loss.
      # DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST    
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:provider.environment.DYNAMODB_CASE_DEFINITIONS_TABLE}
    TaskDefinitionsDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      # For a production deployment, you'd want to retain your DB
      # in case of re-deployment or stack removal to avoid data loss.
      # DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST    
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:provider.environment.DYNAMODB_TASK_DEFINITIONS_TABLE}
    CasesDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      # For a production deployment, you'd want to retain your DB
      # in case of re-deployment or stack removal to avoid data loss.
      # DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST    
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:provider.environment.DYNAMODB_CASES_TABLE}
    TasksDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      # For a production deployment, you'd want to retain your DB
      # in case of re-deployment or stack removal to avoid data loss.
      # DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: caseId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST    
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:provider.environment.DYNAMODB_TASKS_TABLE}
        GlobalSecondaryIndexes:
          - IndexName: ${self:provider.environment.DYNAMODB_TASKS_ON_CASE_GSI}
            KeySchema:
              - AttributeName: caseId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
    CaseMessagesDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      # For a production deployment, you'd want to retain your DB
      # in case of re-deployment or stack removal to avoid data loss.
      # DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: caseId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST    
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:provider.environment.DYNAMODB_CASE_MESSAGES_TABLE}
        GlobalSecondaryIndexes:
          - IndexName: ${self:provider.environment.DYNAMODB_CASE_MESSAGES_ON_CASE_GSI}
            KeySchema:
              - AttributeName: caseId
                KeyType: HASH
            Projection:
              ProjectionType: ALL

  # Outputs:
  #   CognitoUserPoolId:
  #     Value:
  #       Ref: CognitoUserPool
  #     Export:
  #       Name: ASW-CognitoUserPoolId-${self:provider.stage}
  #   CognitoUserPoolClientId:
  #     Value:
  #       Ref: CognitoUserPoolClient
  #     Export:
  #       Name: ASW-CognitoUserPoolClientId-${self:provider.stage}
