.create {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  margin-left: -10%;
  font-size: 2em;
  border-width: 2px;
}

.fa-rotate-315 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.thumbnail {
  width: 2em;
  height: 2em;
}