@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rcw-conversation-container > .rcw-header {
  display: none;
}

.rcw-message > .rcw-response {
  background-color: black;
  color: white;
}

.rcw-full-screen .rcw-messages-container {
  overflow: scroll;
}

.rcw-conversation-container .rcw-title .avatar {
  border-radius: 0;
  height: 41px;
  width: auto;
}

.rcw-conversation-container {
  box-shadow: none;
}
.rcw-full-screen.rcw-opened {
  height: calc(100vh - 60px);
  width: 100%;
  top: 60px;
  position: absolute;
}
.rcw-conversation-container .rcw-close-button {
  display: none;
}