on:
  pull_request:
    types: [opened, synchronize, reopened]

name: E2E Testing

env:
  IMAGE_TAG: ${{ github.sha }}.ci

jobs:
  deploy:
    name: E2E Testing
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build, tag, and push server image to Amazon ECR
        id: build-server-image
        env:
          ECR_SERVER_REPOSITORY: samantha-server
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          echo $GITHUB_WORKSPACE
          cd $GITHUB_WORKSPACE/hasura
          docker build -t $ECR_SERVER_REPOSITORY:$IMAGE_TAG .
          echo "::set-output name=server_image::$ECR_SERVER_REPOSITORY:$IMAGE_TAG"

      - name: Build, tag, and push web image to Amazon ECR
        id: build-web-image
        env:
          ECR_WEB_REPOSITORY: samantha-web
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          echo $GITHUB_WORKSPACE
          cd $GITHUB_WORKSPACE/web
          docker build -t $ECR_WEB_REPOSITORY:$IMAGE_TAG --build-arg sentry_release=${SENTRY_RELEASE} .
          echo "::set-output name=web_image::$ECR_WEB_REPOSITORY:$IMAGE_TAG"

      - name: Start services
        run: |
          docker-compose down
          docker-compose up -d

      - name: Run e2e tests
        run: |
          cd $GITHUB_WORKSPACE/web/nightwatch
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          yarn install
          yarn test

      - name: Stop services
        run: docker-compose down
