name: Deploy Selenium Server

on:
  push:
    paths:
    - 'selenium/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build and run selenium hub
      run:
        sudo apt-get update
        sudo apt-get install build-essential,
        make,
        docker-compose
