# name: Deploy Selenium Server

# on: push
# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2

#     - name: Build and run selenium hub
#       run: docker-compose -f selenium/docker-compose.yml up -d
