name: Deploy Selenium Server

on: push
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build and run selenium hub
      run:
        cd selenium,
        docker-compose up
