on: push

name: Integration test

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
      SENTRY_DEPLOY_ENVIRONMENT: ${{ secrets.SENTRY_DEPLOY_ENVIRONMENT }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, and test image
        id: nightwatch
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_WEB_REPOSITORY: samantha-web
          IMAGE_TAG: ${{ github.sha }}
          SENTRY_RELEAES: ${{ steps.sentry.outputs.SENTRY_RELEASE }}
        run: |
          echo $GITHUB_WORKSPACE
          cd $GITHUB_WORKSPACE/web
          # docker build -t $ECR_REGISTRY/$ECR_WEB_REPOSITORY:$IMAGE_TAG .
          yarn test:e2e

