{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["tailwind-components", "react-hot-loader/babel"],
  "sourceType": "unambiguous",
  "sourceMaps": true,
  "retainLines": true,
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react", "stage-1"]
    }
  }
}
